[submodule "CocoaPods"]
	path = CocoaPods
	url = https://github.com/CocoaPods/CocoaPods.git
[submodule "cocoapods-bin"]
	path = cocoapods-bin
	url = https://github.com/tripleCC/cocoapods-bin.git
[submodule "cocoapods-libstcx"]
	path = cocoapods-libstcx
	url = https://github.com/STTechnology5652/cocoapods-libstcx.git
[submodule "STPodTemplate"]
	path = STPodTemplate
	url = https://github.com/STTechnology5652/STPodTemplate.git
[submodule "pod-template"]
	path = pod-template
	url = https://github.com/CocoaPods/pod-template.git
[submodule "cocoapods-yk-pod-utility"]
	path = cocoapods-yk-pod-utility
	url = https://github.com/stephen5652/cocoapods-yk-pod-utility.git
[submodule "cocoapods-core"]
	path = cocoapods-core
	url = https://github.com/CocoaPods/Core.git
